# For cross-compiling on Linux, only use LF for text files
* text eol=lf

# Image files, largely based on https://en.wikipedia.org/wiki/Image_file_formats
*.ai   binary
*.ani  binary
*.apng binary
*.art  binary
*.bmp  binary
*.bpg  binary
*.bsv  binary
*.bw   binary
*.cdf  binary
*.cin  binary
*.cpc  binary
*.cpt  binary
*.crw  binary
*.cur  binary
*.dds  binary
*.dng  binary
*.dpx  binary
*.ecw  binary
*.eps  binary
*.exr  binary
*.fit  binary
*.fits binary
*.flc  binary
*.fli  binary
*.flif binary
*.fpx  binary
*.fts  binary
*.gif  binary
*.hdr  binary
*.icns binary
*.ico  binary
*.ics  binary
*.ids  binary
*.iff  binary
*.int  binary
*.inta binary
*.jbig binary
*.jbg  binary
*.jfi  binary
*.jfif binary
*.jif  binary
*.jng  binary
*.jp2  binary
*.jpe  binary
*.jpf  binary
*.jpg  binary
*.jpeg binary
*.jpm  binary
*.jpx  binary
*.jxr  binary
*.kra  binary
*.lbm  binary
*.mng  binary
*.nrrd binary
*.ora  binary
*.pam  binary
*.pbm  binary
*.pct  binary
*.pcx  binary
*.pdf  binary
*.pgf  binary
*.pic  binary
*.pict binary
*.pgm  binary
*.png  binary
*.pnm  binary
*.ppm  binary
*.psb  binary
*.psd  binary
*.psp  binary
*.qtvr binary
*.ras  binary
*.rgb  binary
*.rgba binary
*.raw  binary
*.sgi  binary
*.sun  binary
*.svg  text
*.svgz binary
*.tif  binary
*.tiff binary
*.ufo  binary
*.ufp  binary
*.wbmp binary
*.webp binary
*.xbm  binary
*.xcf  binary
*.xwd  binary
# Audio files, largely based on https://en.wikipedia.org/wiki/Audio_file_format
*.aa    binary
*.aac   binary
*.aax   binary
*.act   binary
*.aiff  binary
*.amr   binary
*.ape   binary
*.au    binary
*.awb   binary
*.dct   binary
*.dss   binary
*.flac  binary
*.gsm   binary
*.iklax binary
*.ivs   binary
*.kar   binary
*.m4a   binary
*.m4b   binary
*.mid   binary
*.midi  binary
*.mmf   binary
*.mogg  binary
*.mp3   binary
*.mpc   binary
*.msv   binary
*.oga   binary
*.opus  binary
*.ra    binary
*.tta   binary
*.vox   binary
*.wav   binary
*.wma   binary
*.wv    binary
# Video files, largely based on https://en.wikipedia.org/wiki/Video_file_format
*.3g2  binary
*.3gpp binary
*.3gp  binary
*.amv  binary
*.as   binary
*.asf  binary
*.asx  binary
*.avi  binary
*.drc  binary
*.f4a  binary
*.f4b  binary
*.f4p  binary
*.f4v  binary
*.gifv binary
*.fla  binary
*.flv  binary
*.m2j  binary
*.m2v  binary
*.m4p  binary
*.m4v  binary
*.mkv  binary
*.mov  binary
*.mp4  binary
*.mpe  binary
*.mpeg binary
*.mpg  binary
*.mpv  binary
*.mxf  binary
*.nsf  binary
*.ogg  binary
*.ogv  binary
*.qt   binary
*.rm   binary
*.rmvb binary
*.roq  binary
*.swc  binary
*.swf  binary
*.svi  binary
*.vob  binary
*.webm binary
*.wmv  binary
*.yuv  binary
# Archive files, largely based on https://en.wikipedia.org/wiki/List_of_archive_formats
*.ace  binary
*.apk  binary
*.b1   binary
*.7z   binary
*.bin  binary
*.bz2  binary
*.cab  binary
*.car  binary
*.cfs  binary
*.dar  binary
*.ear  binary
*.gz   binary
*.gzip binary
*.ipa  binary
*.jar  binary
*.kgb  binary
*.lz   binary
*.lzma binary
*.lzo  binary
*.pak  binary
*.pea  binary
*.pim  binary
*.rar  binary
*.rev  binary
*.rz   binary
*.s7z  binary
*.shar binary
*.sitx binary
*.sqx  binary
*.sz   binary
*.tar  binary
*.tgz  binary
*.tbz2 binary
*.tlz  binary
*.war  binary
*.xz   binary
*.z    binary
*.Z    binary
*.zip  binary
*.zipx binary
*.zz
# Font files
*.ps    binary
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
# Executable files
*.exe binary
*.msi binary
*.out binary
*.pyc binary
# Disk image files
*.dmg     binary
*.iso     binary
*.partimg binary
*.wim     binary
*.csv filter=lfs diff=lfs merge=lfs -text
